certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
Django==2.0.5
django-filter==1.1.0
django-guardian==1.4.9
django-redis==4.9.0
djangorestframework==3.11.2
djangorestframework-jwt==1.11.0
djangorestframework-xml==1.3.0
idna==2.6
jsonfield==2.0.2
Markdown==2.6.11
mysqlclient==1.3.12
Pillow==5.1.0
PyJWT==1.6.4
pytz==2018.4
qcloudsms-py==0.1.1
redis==2.10.6
requests==2.18.4
six==1.11.0
urllib3==1.22
weixin-python==0.5.3
